body {
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
    color: #002f6c;
    padding: 20px;
    line-height: 1.6;
}


h1,
h2 {
    color: #d9002c;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

section {
    margin-bottom: 30px;
}

img {
    max-width: 100%;
    border: 1px solid #ccc;
}