:root {
    --primary-color: #004a97;
    --secondary-color: red;
    --accent-color: white;
}





.title-team {
    font: 1em;
    justify-self: center;
}

.players {
    justify-items: center;
}

table {
    max-width: 1000px;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
    font-size: 1rem;
}

th,
td {
    padding: 0.75rem;
    text-align: left;
    border: 1px solid var(--secondary-color);
}

thead {
    background-color: var(--primary-color);
    color: var(--accent-color);
}

h3 {
    margin-top: 2rem;
    color: var(--primary-color);
    justify-self: start;
}